 @font-face {
     font-display: swap;
     font-family: 'OpenSans';
     src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
     font-style: normal;
     font-weight: bold;
 }

 @font-face {
    font-display: swap;
    font-family: 'OpenSans-Condensed-Bold';
    src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

 @font-face {
     font-display: swap;
     font-family: 'Pacifico';
     src: url('../assets/fonts/Pacifico-Regular.ttf') format('truetype');
     font-style: normal;
     font-weight: 400;

 }

 @font-face {
     font-display: swap;
     font-family: 'Lobster';
     src: url('../assets/fonts/Lobster-Regular.ttf') format('truetype');
     font-style: normal;
     font-weight: 400;
 }

 @font-face {
    font-display: swap;
    font-family: 'Pokemon-Hollow';
    src: url('../assets/fonts/Pokemon-Hollow.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Pokemon-Solid';
    src: url('../assets/fonts/Pokemon-Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}