* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0, 50%);
}

.allcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.welcome-screen-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/img/background-start-screen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 32px;
}

h1 {
    font-size: 72px;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lobster', sans-serif;
    filter: drop-shadow(0px 0px 15px white);
    padding: 0 24px;
    padding-top: 32px;
}

.welcome-screen-overlay-h2 {
    font-size: 84px;
    color: #FCCD03;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #3956AF;
    font-family: 'Pokemon-Solid', sans-serif;
    filter: drop-shadow(8px 8px 5px black);
}

.button-welcome-screen-overlay {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    cursor: pointer;
}

.button-welcome-screen-overlay:hover {
    background-position: right center;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.background-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
    background: rgb(237, 38, 57);
    background: linear-gradient(120deg, rgba(237, 38, 57, 1) 0%, rgba(184, 191, 199, 1) 50%, rgba(238, 242, 243, 1) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 16px 16px;
}

.title-nav {
    font-size: 32px;
    font-weight: bold;
    color: blue;
    margin-left: 64px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: gold;
}

.search-box {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border-radius: 15px;
}

.search-input-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 64px;
}

.search-input {
    border-radius: 10px;
    border: 2px solid gold;
    width: 150px;
    padding: 3px 8px;
    outline: none;
    font-weight: bold;
}

.search-text {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.search-info-text {
    font-size: 8px;
    color: red;
    font-weight: bold;
}

.search-mode-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 79, 79);
    border: 2px solid gold;
    border-radius: 10px;
    gap: 24px;
    padding: 6px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 1920px;
}

.search-mode-text {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.search-mode-button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background-color: black;
    color: white;
    object-fit: cover;
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-mode-button:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 10px white);
}

.search-mode-button:active {
    scale: 1.0;
    background-color: #7a7878;
}

.all-pokemon-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    filter: drop-shadow(8px 8px 5px black);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.pokemon-card:hover {
    scale: 1.1;
    border: 3px solid aqua;
    filter: drop-shadow(0px 0px 15px white);
}

.pokemon-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: hidden;
}

.pokemon-name {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    filter: drop-shadow(2px 2px 10px black);
}

.pokemon-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 220px;
}

.pokemon-img {
    width: 130px;
    height: 180px;
    padding: 8px;
    filter: drop-shadow(8px 8px 5px black);
}

.pokemon-type-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next-pokemon {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    cursor: pointer;
}

.button-next-pokemon:hover {
    background-position: right center;
    color: #fff;
}

.info-button {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}

.big-pokemon-card-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 50%);
    gap: 16px;
    flex-direction: column;
}

.big-pokemon-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 15px;
    filter: drop-shadow(8px 8px 5px black);
    transition: all 250ms ease-in-out;
    width: 400px;
    background-color: rgb(0, 0, 0, 50%);
    position: relative;
    overflow: hidden;
}

.big-pokemon-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.big-pokemon-name {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    filter: drop-shadow(2px 2px 10px black);
}

.big-pokemon-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
}

.big-pokemon-img {
    width: 160px;
    height: 160px;
    padding: 8px;
    filter: drop-shadow(8px 8px 5px black);
}

.scan-button-big-pokemon-card {
    padding: 4px;
    width: 100%;
    cursor: pointer;
    border: 1px solid black;
}

.scan-button-big-pokemon-card:hover {
    background-position: right center;
    color: #fff;
    border: 1px solid aqua;
    filter: drop-shadow(0px 0px 5px white);
}

.img-scan-button {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: gold;
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid black;
}

.scan-button-big-pokemon-card-disabled {
    padding: 25px;
    width: 100%;
    border: 1px solid black;
}

.button-box-big-pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-big-pokemon-card {
    padding: 8px;
    width: 100%;
    cursor: pointer;
    border: 1px solid black;
    color: black;
}

.button-big-pokemon-card:hover {
    background-position: right center;
    color: #fff;
    border: 1px solid aqua;
    filter: drop-shadow(0px 0px 5px white);
    font-weight: bolder;
}

.button-big-pokemon-card:focus {
    background-position: right center;
    color: red;
    border: 1.2px solid orangered;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.information-view-big-pokemon-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
    border: 2px solid black;
    height: 150px;
}

.text-information-box-big-pokemon-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    gap: 6px;
    width: 230px;
    font-size: 14px;
    font-weight: bold;
}

.text-information-box-big-pokemon-card2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    gap: 6px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.abilities-box {
    display: flex;
    flex-direction: column;
}

.stats-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.stats-value-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.stats-value {
    font-size: 14px;
}

.stats-bar {
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    border: 1.5px solid white;
}

.stats-fill {
    height: 100%;
    background-color: orangered;
    transition: width 0.3s ease;
}

.evo-chain-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    gap: 12px;
}

.evo-chain-box-eevee {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    gap: 6px;
    flex-wrap: wrap;
}

.evo-chain-box-more-as-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    gap: 12px;
}

.pokemon-evo-chain-img {
    height: 70px;
    width: 70px;
    filter: drop-shadow(4px 4px 3px black);
}

.pokemon-evo-chain-img-eevee {
    height: 40px;
    width: 40px;
    filter: drop-shadow(4px 4px 3px black);
}

.pokemon-evo-chain-img-more-as-three {
    height: 60px;
    width: 60px;
    filter: drop-shadow(4px 4px 3px black);
}

.pokemon-evo-chain-img-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.pokemon-evo-chain-img-name-box-eevee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.pokemon-evo-chain-img-name-box-more-as-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.pokemon-evo-chain-name {
    font-size: 12px;
    font-weight: bold;
}

.pokemon-evo-chain-name-eevee {
    font-size: 8px;
    font-weight: bold;
}

.pokemon-evo-chain-name-more-as-three {
    font-size: 10px;
    font-weight: bold;
}

.evo-chain-arrow::after {
    content: '⇒';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.evo-chain-or::after {
    content: '∨';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.big-pokemon-type-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
}

.icon {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 4px;
    filter: saturate(300%);
    border: 2px solid white;
    margin: 6px;
}

.icon-big {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 4px;
    filter: saturate(300%);
    border: 2px solid white;
    margin: 6px;
}

.all-buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    gap: 16px;
    width: 100%;
    padding: 6px;
    border-top: 2px solid gold;
}

.next-pokemon-button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background-color: black;
    color: white;
    object-fit: cover;
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-pokemon-button:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 10px white);
}

.next-pokemon-button:active {
    scale: 1.0;
    background-color: #7a7878;
}

.scan-box {
    position: relative;
}

.scan-box::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    background: #02cbfd;
    box-shadow: 0 0 70px 20px #02cbfd;
    clip-path: inset(0);
    opacity: 0;
    transition: opacity 0.3s;
}

.scan-box.animate::before {
    opacity: 1;
    animation:
        x 0.5s ease-in-out infinite alternate,
        y 1s ease-in-out infinite;
}

@keyframes x {
    to {
        transform: translateX(-100%);
        left: 100%;
    }
}

@keyframes y {
    33% {
        clip-path: inset(0 0 0 -100px);
    }

    50% {
        clip-path: inset(0 0 0 0);
    }

    83% {
        clip-path: inset(0 -100px 0 0);
    }
}

.moving-picture-border {
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    width: 100%;
}

.moving-picture-border span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right, #009dff, #00ffff);

    animation: animate1 linear 4s infinite;
    z-index: 2;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.moving-picture-border span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5px;
    height: 100%;
    background: linear-gradient(to bottom, #009dff, #00ffff);

    animation: animate2 4s linear infinite;
    animation-delay: 2s;
    z-index: 2;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.moving-picture-border span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to left, #009dff, #00ffff);

    animation: animate3 4s linear infinite;
    z-index: 2;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.moving-picture-border span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5px;
    height: 100%;
    background: linear-gradient(to top, #009dff, #00ffff);

    animation: animate4 4s linear infinite;
    animation-delay: 2s;
    z-index: 2;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.loading-spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 50%);
}

.img-loading-spinner {
    width: 250px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 15px white);
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.d-none {
    display: none;
}

.opacity-no-visable {
    opacity: 0;
}

.overflow-hidden {
    overflow: hidden;
}

@media(max-width: 650px) {
    .all-pokemon-box {
        gap: 16px;
    }

    .search-input-info-box {
        margin-right: 0;
    }

    nav {
        gap: 20px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .search-text {
        font-size: 14px;
    }

    .search-input {
        width: 120px;
    }

}

@media(max-width: 550px) {
    .big-pokemon-card {
        width: 350px;
    }

    .pokemon-name {
        font-size: 16px;
        padding: 6px;
    }

    .pokemon-img-box {
        width: 130px;
        height: 180px;
    }

    .pokemon-img {
        width: 90px;
        height: 140px;
        padding: 6px;
    }

    nav {
        gap: 10px;
    }

    .search-box {
        padding: 4px;
        gap: 4px;
        align-items: center;
    }

    .search-text {
        font-size: 9px;
    }

    .search-input {
        font-size: 10px;
        width: 100px;
    }

    .title-nav {
        margin-left: 6px;
    }

    h1 {
        font-size: 48px;
        padding: 0 8px;
        padding-top: 32px;
    }

    .overlay-h2 {
        font-size: 72px;
    }

    .information-view-big-pokemon-card {
        padding: 8px;
        padding-bottom: 12px;
    }

    .big-pokemon-img {
        width: 130px;
        height: 180px;
        padding: 6px;
    }

    .title-nav {
        font-size: 24px;
    }

    .icon-big {
        width: 40px;
        height: 40px;
    }

    .evo-chain-box-more-as-three {
        gap: 6px;
    }
}

@media(max-width: 400px) {
    .welcome-screen-overlay-h2 {
        font-size: 72px;
    }

    .info-button {
        font-size: 16px;
    }

    .big-pokemon-card {
        width: 280px;
    }

    .text-information-box-big-pokemon-card {
        font-size: 12px;
    }

    .text-information-box-big-pokemon-card2 {
        font-size: 12px;
    }

    .stats-value {
        font-size: 12px;
    }

    .img-scan-button {
        width: 30px;
        height: 30px;
    }

    .evo-chain-box {
        gap: 6px;
        padding-top: 18px;
    }

    .pokemon-evo-chain-img {
        width: 60px;
        height: 60px;
    }

    .pokemon-evo-chain-name {
        font-size: 10px;
    }

    .evo-chain-box-eevee {
        padding-top: 12px;
        gap: 4px;
    }

    .evo-chain-box-more-as-three {
        gap: 4px;
        padding-top: 24px;
    }

    .pokemon-evo-chain-img-eevee {
        width: 36px;
        height: 36px;
    }

    .pokemon-evo-chain-img-more-as-three {
        width: 45px;
        height: 45px;
    }
}